{$SITE_ROOT}/chainsim {
  root /home/puyonexus/apps/chainsim/puyosim/public/
  fastcgi / /var/run/php/php7.0-fpm.sock php
  rewrite {
    if {path} not_starts_with /chainsim/assets
    to /index.php
  }
}
