{$SITE_ROOT}/wiki/ {
  root /home/puyonexus/apps/wiki/mediawiki/
  rewrite / {
    to {path} /index.php?{query}
  }
}

{$SITE_ROOT}/mediawiki/ {
  root /home/puyonexus/apps/wiki/mediawiki/
  fastcgi / /var/run/php/php7.1-fpm.sock php
}
